{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" id="sellStock">
            <option value="0" selected="selected" disabled>Stock to sell</option>
              {% for stock in pocket %}
                <option value="{{ stock.symbol }}">{{ stock.symbol }} ({{ stock.shares }})</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
